/*
colors  #c5d1eb
        #92afd7
        #5a7684
        #395b50
        #1f2f16
*/

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#reset-btn,
#add,
#sub, 
#multi,
#divide {
    display: none
}

#new-game {
    display: inline;
}

.start-game {
    margin: 8px auto;
}

#addend,
#submin,
#factor,
#divi {
    margin: 5px auto;
}

.buttons {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
    width: 13%;
    padding: 20px;
    visibility: hidden;
}

.negative {
    grid-column: 1/4;
    grid-row: 1/ span 4;
    height: auto;
}
