/*
colors  #c5d1eb
        #92afd7
        #5a7684
        #395b50
        #1f2f16
*/

body {
    margin: 0;
    padding: 0;
    background-color: #1f2f16;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#reset-btn,
#add,
#sub, 
#multi,
#divide {
    display: none;
}

#new-game {
    display: inline;
}

.start-game {
    margin: 8px auto;
}

#addend,
#submin,
#factor,
#divi {
    margin: 5px auto;
}

.negative {
    grid-column: 1/4;
    grid-row: 1/ span 4;
    height: auto;
}

.MathDash-area {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: inset 6px 6px 6px 2px rgb(0, 0, 3, .3);
    border-radius: 20px;
    padding: 30px;
}

#timer-el {
    display: none;
    font-size: 30px;
}
